@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

html {
  font-size: 1rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: rgb(0, 0, 0);
}

h1 {
  font-size: 2.25rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

nav .inner-nav {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.container-full section form .form-box .btn, nav .inner-nav .btn, .section .inner .readMoreButton, .section .inner .grid .card .grid-inner .content .btn-more {
  background-color: #f20505;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 0.8125rem;
  padding: 0.5357142857rem 1.5625rem;
  border-radius: 0.25rem;
  border: none;
  text-decoration: none;
  letter-spacing: 0.5px;
  display: block;
  text-align: center;
}

.section {
  background-color: #f2c230;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
}
.section .inner {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (max-width: 768px) {
  .section .inner {
    width: 90%;
  }
}
.section .inner h2 {
  font-size: 2.25rem;
  color: #373640;
}
@media (max-width: 425px) {
  .section .inner h2 {
    text-align: left;
    font-size: 1.875rem;
  }
}
.section .inner .readMoreButton {
  display: inline-block;
  cursor: pointer;
  margin-top: 3.75rem;
  margin-bottom: 1.4097744361rem;
}
.section .inner .grid {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
}
.section .inner .grid .card {
  flex: 0 1 33.33%;
}
@media (max-width: 768px) {
  .section .inner .grid .card {
    flex: 0 1 50%;
  }
}
@media (max-width: 425px) {
  .section .inner .grid .card {
    flex: 0 1 100%;
  }
}
.section .inner .grid .card a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.section .inner .grid .card .grid-inner {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  overflow: hidden;
  margin-right: 0.9375rem;
  margin-bottom: 0.9375rem;
  transition: 0.4s;
}
.section .inner .grid .card .grid-inner:hover {
  transform: scale(1.05) rotate(1deg);
  background-color: #ffa07a;
}
.section .inner .grid .card .grid-inner .image {
  flex: 0 0 30%;
}
.section .inner .grid .card .grid-inner .image img {
  width: 100%;
  height: 30vh;
}
.section .inner .grid .card .grid-inner .content {
  flex: 0 0 60%;
  text-align: left;
  padding: 0.9375rem;
}
.section .inner .grid .card .grid-inner .content h5 {
  padding: 0.3125rem 0.625rem;
  background-color: #f2c230;
  display: inline-block;
  border-radius: 4px;
  margin-bottom: 0.625rem;
  font-weight: 500;
}
.section .inner .grid .card .grid-inner .content h4 {
  margin-bottom: 0.3125rem;
  font-weight: 900;
  line-height: 1.25;
}
.section .inner .grid .card .grid-inner .content p {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 0.625rem;
}
.section .inner .grid .card .grid-inner .content .date {
  font-size: 0.6875rem;
  font-weight: 900;
  text-align: left;
}
.section .inner .grid .card .grid-inner .content .btn-more {
  margin-left: 50%;
  margin-top: 1.875rem;
  padding: 0.5357142857rem 0.46875rem;
}
@media (max-width: 768px) {
  .section .inner .grid .card .grid-inner .content .btn-more {
    margin-left: 45%;
  }
}
@media (max-width: 425px) {
  .section .inner .grid .card .grid-inner .content .btn-more {
    margin-left: 50%;
  }
}

.filter-menu {
  display: flex;
}
.filter-menu button {
  flex: 0 0 33.33%;
  background-color: #373640;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 1rem;
  text-align: left;
  border: none;
  padding: 1.875rem 3.12375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 768px) {
  .filter-menu button {
    font-size: 0.8125rem;
    padding: 3.75rem 0.3125rem 3.75rem 0.625rem;
  }
}
@media (max-width: 425px) {
  .filter-menu button {
    font-size: 0.8125rem;
    padding: 0.625rem 1.25rem 0.625rem 1.875rem;
  }
}
.filter-menu button:not(:last-child) {
  border-right: 1px solid rgb(80, 75, 75);
}
@media (max-width: 425px) {
  .filter-menu button:not(:last-child) {
    border-right: none;
    border-bottom: 1px solid rgb(80, 75, 75);
  }
}
.filter-menu button.selected {
  background-color: #f20505;
  color: #373640;
}
.filter-menu button i {
  flex: 0 0 20%;
  color: #373640;
  font-size: 1.5rem;
  text-align: center;
}
@media (max-width: 768px) {
  .filter-menu button i {
    font-size: 1rem;
    flex: 0 0 15%;
  }
}
@media (max-width: 425px) {
  .filter-menu button i {
    margin-left: 15%;
  }
}
@media (max-width: 425px) {
  .filter-menu {
    flex-direction: column;
  }
}

nav {
  background-color: #f2c230;
}
nav .inner-nav {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
nav .inner-nav .logo {
  flex: 0 0 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
nav .inner-nav .logo img {
  flex: 0 0 auto;
  margin-bottom: 2px;
  width: 35%;
}
@media (max-width: 768px) {
  nav .inner-nav .logo img {
    width: 45%;
  }
}
nav .inner-nav .logo p {
  flex: 0 0 auto;
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
  margin-bottom: 0;
}
nav .inner-nav ul {
  flex: 0 1 80%;
  padding: 0 0.9375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
}
nav .inner-nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 0.8125rem;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 2px;
  background: linear-gradient(to right, #f2c230, #f2c230), linear-gradient(to right, rgb(112, 46, 46), rgb(106, 134, 55), rgb(119, 122, 126));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
}
nav .inner-nav ul li a:hover {
  background-size: 0 3px, 100% 3px;
}
nav .inner-nav ul li:not(:last-child) {
  margin-right: 3.1125rem;
}
@media (max-width: 768px) {
  nav .inner-nav ul {
    display: none;
  }
}
nav .inner-nav .btn {
  flex: 0 0 auto;
  display: inline-block;
}
@media (max-width: 768px) {
  nav .inner-nav .btn {
    display: none;
  }
}
nav .inner-nav .hamburger-menu .mobile-menu ul {
  display: none;
}
@media (max-width: 768px) {
  nav .inner-nav .hamburger-menu .mobile-menu ul {
    position: absolute;
    top: 5.56125rem;
    right: 0;
    background-color: #373640;
    padding: 0.3125rem 0.9375rem 1.25rem;
    z-index: 10;
  }
  nav .inner-nav .hamburger-menu .mobile-menu ul a {
    color: rgb(255, 255, 255);
    padding: 0.9375rem 0px;
    background: none;
    display: inline-block;
  }
  nav .inner-nav .hamburger-menu .mobile-menu ul .btn {
    background-color: #f20505;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 0.8125rem;
    padding: 0.46875rem 0.9375rem;
    border-radius: 0.25rem;
    border: none;
    text-decoration: none;
    letter-spacing: 0.5px;
    display: inline-block;
  }
}
@media (max-width: 425px) {
  nav .inner-nav .hamburger-menu .mobile-menu ul {
    top: 5.311875rem;
    display: block;
    width: 100%;
    height: calc(100vh - 5.311875rem);
  }
  nav .inner-nav .hamburger-menu .mobile-menu ul a {
    padding: 1.5625rem 0;
  }
}
nav .inner-nav .hamburger-menu .icon {
  display: none;
}
@media (max-width: 768px) {
  nav .inner-nav .hamburger-menu .icon {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
  }
}

.animation {
  background: linear-gradient(rgba(77, 72, 72, 0.7), rgba(48, 46, 46, 0.8)), url(../../images/banner-pic1.jpg);
  height: 60vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .animation {
    height: 40vh;
  }
}
@media (max-width: 425px) {
  .animation {
    height: 25vh;
  }
}
.animation svg text {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 10px;
  stroke: #c29a2d;
  font-size: 9.375rem;
  font-weight: 500;
  stroke-width: 3;
  animation: textAnimate 8s infinite alternate;
  cursor: default;
}
@media (max-width: 768px) {
  .animation svg text {
    font-size: 6.249375rem;
  }
}
@media (max-width: 425px) {
  .animation svg text {
    font-size: 4.374375rem;
  }
}
@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
    fill: hsl(190deg, 24%, 15%);
  }
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
    fill: hsla(189deg, 68%, 75%, 0);
  }
}

footer {
  background-color: #373640;
  padding: 0.9375rem;
  text-align: center;
}
footer p {
  margin-bottom: 0;
  color: rgb(255, 255, 255);
  font-weight: 700;
}

.container-full {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
.container-full section {
  background-color: #eec54a;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3.75rem, 0.9375rem;
}
.container-full section h1 {
  font-size: 3rem;
}
@media (max-width: 425px) {
  .container-full section h1 {
    font-size: 2.25rem;
  }
}
.container-full section form {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .container-full section form {
    width: 90%;
  }
}
.container-full section form .form-box {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
}
@media (max-width: 768px) {
  .container-full section form .form-box {
    flex: 0 0 100%;
  }
}
.container-full section form .form-box label {
  font-weight: 700;
}
.container-full section form .form-box input {
  padding: 1.25rem;
  border-radius: 0.375rem;
  border: none;
}
.container-full section form .form-box input::placeholder {
  font-style: italic;
  color: rgb(173, 166, 166);
}
.container-full section form .form-box input:focus {
  outline: 1px solid red;
}
.container-full section form .form-box .valid {
  display: none;
  color: #008000;
}
.container-full section form .form-box .invalid {
  display: none;
  color: #f20505;
}
.container-full section form .form-box .btn {
  padding: 1.25rem;
  margin-top: 1.5rem;
  cursor: pointer;
}
.container-full section form .form-box select {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1.25rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}
.container-full section form .form-box select:focus {
  outline: none;
}

/*# sourceMappingURL=main.css.map */
