@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "sass:math";

footer {
    background-color: var.$background-color-secondary;
    padding: math.div(var.$gutter-base, 2);
    text-align: center;

    p {
        margin-bottom: 0;
        color: var.$text-color-secondary;
        font-weight: var.$font-weight-bold;
    }
}
